@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply line-pattern;
  }
}

.line-pattern {
  background:
    linear-gradient(135deg, #0000 18.75%, #ffffff 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #ffffff -6.25% 6.25%, #fafaff 0 18.75%);
  background-size: 60px 60px;
}

.animated-pattern {
  --s: 50vmin;
  --p: calc(var(--s) / 2);
  --d: 16000ms;
  --e: linear;

  background-color: #1f2937;
  background-image:
    linear-gradient(225deg, transparent 90%, #ff1188 90%),
    linear-gradient(225deg, #2bc0d6 10%, transparent 10%);
  background-size: var(--s) var(--s);
  animation:
    position var(--d) var(--e) infinite;
}

@keyframes position {
  0% {
    background-position:
      calc(var(--p) * -1) calc(var(--p) * 0);
  }

  100% {
    background-position:
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

@media (prefers-reduced-motion) {
  .animated-pattern {
    animation: none;
  }
}
